<!-- template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pageTitle">[name]</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="template.css">
</head>
<body>
    <div class="container">
        <h1>
            [name]
        </h1>
        
        <div>
            <p>
                [introduction]
            </p>
        </div>

        <div>
            <p>
                [contents]
            </p>
        </div>
        
        <div>
            <h1>WEAPONS REFERENCE</h1>
            <table>
                <thead>
                    <tr>
                        <th>
                            Weapon
                        </th>
                        <th>
                            Rng
                        </th>
                        <th>
                            Atk
                        </th>
                        <th>
                            Pen
                        </th>
                        <th>
                            Str
                        </th>
                        <th>
                            Abilities
                        </th>
                        <th>
                            ⬓
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        
        <div>
            <h1>
                ITEMS REFERENCE
            </h1>
            <table id="itemsTable">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Abilities</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>