h1 {
    font-family: "Palanquin Dark";
    font-size: 23px;
}

h2 {
    font-family: "Calibri";
    font-size: 14px;
    font-weight: bold;
}

p {
    font-family: "Calibri";
    font-size: 9px;
    text-align: left;
}

tr {
    font-family: "Calibri";
    font-size: 9px;
    font-weight: bold;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}